.root {
  display: flex;
  min-height: 100vh;
  background-image: url('../../../public//assets/background//bgHome.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}