@tailwind base;
@tailwind components;
@tailwind utilities;

html,

.ant-table-body {
  scrollbar-width: thin !important;
}
.ant-picker-outlined {
  border-radius: unset !important;
}
/* Thay đổi kích thước thanh cuộn cho các trình duyệt Webkit (Chrome, Safari, Edge,...) */
::-webkit-scrollbar {
  width: 8px; /* Đặt chiều rộng của thanh cuộn ngang */
  height: 8px; /* Đặt chiều cao của thanh cuộn dọc */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Màu của thanh cuộn */
  border-radius: 10px; /* Bo tròn góc thanh cuộn */
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Màu nền của vùng cuộn */
}
.ant-table-cell::before{
  background-color: #000000!important;
  opacity: 10%;
}
.ant-switch-checked {
  background-color: #36A492 !important; 
}

.ant-input-affix-wrapper{
  border-start-start-radius:0px !important;
  border-end-start-radius:0px !important
  
}

@media only screen and (max-width: 1560px) {
  .input_search {
   width: 50% !important;
  }
}
@media only screen and (min-width: 1560px) {
  .input_search {
   width: 100% !important;
  }
}


.ant-empty-description,.ant-select-item-empty{
  font-weight: 700!important;
  font-size: 16px !important;
  color: #e5e7eb !important;
}
.ant-table-wrapper .ant-table{
  scrollbar-color: unset !important;;
}
.ant-table-wrapper .ant-table:hover{
  cursor: pointer !important;;
}

.ant-input {
  border-radius: 0px !important;
}

.ant-input-affix-wrapper {
  border-radius: 0px !important;
}
.login-form-button {
  background: linear-gradient(#f6dd9e, #f0c24d) !important;
  border: 0.075em solid #878787 !important;
  border-radius: 0.1em !important;
  color: #000000 !important;
}

.ant-menu-item-selected {
  background-color: #353542 !important;
  border-radius: 6px !important;
}
.ant-input{
  border-radius: 4px !important;
}
